.fenestra-desktop {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.fenestra-desktop-icons {
  position: relative;
}

.fenestra-taskbar {
  height: 54px;
}

.fenestra-desktop-moving * {
  cursor: grabbing !important;
}

.fenestra-desktop-resizing-nwse * {
  cursor: nwse-resize !important;
}

.fenestra-desktop-resizing-ns * {
  cursor: ns-resize !important;
}

.fenestra-desktop-resizing-ew * {
  cursor: ew-resize !important;
}

.fenestra-window {
  position: absolute;
}

.fenestra-window-minimized {
  display: none !important;
}

.fenestra-window-maximized {
  top: 0 !important;
  left: 0 !important;
  bottom: 0 !important;
  right: 0 !important;
  width: 100% !important;
  height: 100% !important;
  border-radius: 0px !important;
  border: none !important;
}

.fenestra-window-maximized > .fenestra-window-title:first-child {
  border-radius: 0px !important;
}

@media (max-width: 768px) {
  .fenestra-window {
    top: 0 !important;
    left: 0 !important;
    bottom: 0 !important;
    right: 0 !important; 
    width: 100% !important;
    height: 100% !important;  
    border-radius: 0px !important;
    border: none !important;
  }

  .fenestra-window-resize {
    display: none
  }
}

.fenestra-window-active {
  z-index: 9999;
}

.fenestra-taskbar-button {
  width: 120px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.fenestra-window-buttons {
  white-space: nowrap;
}

.fenestra-window-body {
  overflow: auto;
  position: relative;
}

.fenestra-window-title {
  cursor: grab;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.fenestra-window-resize {
  position: absolute;
  background-color: transparent;
}

.fenestra-window-resize-n {
  top: -8px;
  right: 0;
  left: 0;
  height: 8px;
  cursor: ns-resize;
}

.fenestra-window-resize-s {
  bottom: -8px;
  right: 0;
  left: 0;
  height: 8px;
  cursor: ns-resize;
}

.fenestra-window-resize-e {
  right: -8px;
  top: 0;
  bottom: 0;
  width: 8px;
  cursor: ew-resize;
}

.fenestra-window-resize-w {
  left: -8px;
  top: 0;
  bottom: 0;
  width: 8px;
  cursor: ew-resize;
}

.fenestra-window-resize-nw {
  top: -8px;
  left: -8px;
  width: 8px;
  height: 8px;
  cursor: nwse-resize;
}

.fenestra-window-resize-se {
  bottom: -8px;
  right: -8px;
  width: 8px;
  height: 8px;
  cursor: nwse-resize;
}

.fenestra-window-resize-ne {
  top: -8px;
  right: -8px;
  width: 8px;
  height: 8px;
  cursor: nesw-resize;
}

.fenestra-window-resize-sw {
  bottom: -8px;
  left: -8px;
  width: 8px;
  height: 8px;
  cursor: nesw-resize;
}

.fenestra-window-maximized > .fenestra-window-resize {
  display: none;
}

.fenestra-icon {
  display: inherit;
}