.fenestra-desktop {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.fenestra-minimized {
  display: none !important;
}

.fenestra-maximized {
  display: block !important;
  position: fixed !important;;
  top: 0 !important;
  left: 0 !important;
  bottom: 0 !important;
  right: 0 !important;
  width: auto !important;
  height: auto !important;  
  border-radius: 0px !important;
}

.fenestra-maximized .card-header:first-child,
.fenestra-maximized .card-footer:last-child {
  border-radius: 0px;
}

.fenestra-normal {
  display: block !important;
  position: absolute !important;
}

.fenestra-active {
  z-index: 10000;
}

.fenestra-taskbar {
  z-index: 9999;
}

.fenestra-taskbar-button {
  width: 120px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.fenestra-window-buttons {
  white-space: nowrap;

}